@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.swiper-button-next, 
.swiper-button-prev {
    color: #4F46E5;
}

.swiper-pagination-bullet-active {
    background-color: #4F46E5;
}